<html>
  <head>
  	{% if title %}
  	<title>{{title}} - Timeseries</title>
  	{% else %}
  	<title>Welcome to CS207</title>
  	{% endif %}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/sweetalert.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/flot.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="container">
  	<div class="top30">
      <h1><b>CS207 - Final Project</b></h1> <br>
      <h3>Team Members: Peilin Duan, Kevin Qi, Zelong Qiu, Xindi Zhao</h3><br>

    </div>
    
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li> {{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
    <script>
      $(document).ready(function(){

        function clearResults(){
          $("#placeholder").empty();
            $("#file-name").empty();
            $("results").empty();
        }

        $("#ts-file").click(function(event){
          console.log("Browse!");
          $("#ts-id").val("");
        });
        $("#ts-file").change(function(event){
          if($("#ts-file")[0].files['length'] !== 0){
            $("#file-name").html($("#ts-file")[0].files[0]['name']);  
          }
        });
        
        function plotSimilar(response, metadata, timeseries){
          var similar_ids = [];

          // Get similar ids
          response = response['similar_points'];
          var i;
          for(i=0;i<response.length;i++){
            similar_ids.push(response[i][1]);
          }

          // For each id, get timeseries data from SM and plot
          for(i=0;i<similar_ids.length;i++){
            $.ajax({
              url: '/timeseries/'+similar_ids[i],
              type: 'GET',
              success: function(response){
                metadata.push(response['metadata']);
                timeseries.push(response['timeseries']);
              },
              error: function(response){
                console.log("Error getting timeseries from sm");
              }
            });
          }

          $(document).ajaxStop(function(){
            console.log("Finished ALL AJAX");
            var plots = [];
            var meta_msg = ["<h3>Metadata</h3><ul>"];
            for(i=0;i<timeseries.length;i++){
              var x = timeseries[i]['time'];
              var y = timeseries[i]['value'];
              var z = x.map(function(e,i){return [e, y[i]]});

              plots.push({"label":"ID"+timeseries[i]['id'],"data":z});
            }
            
            for(i=0;i<metadata.length;i++){
              meta_msg.push("<li>Blarg: " + metadata[i]['blarg'] + 
                            " ID: " + metadata[i]['id']+  
                            " Level: " + metadata[i]['level'] +
                            " Mean: " + metadata[i]['mean'] + 
                            " Standard Dev: " + metadata[i]['std'] +
                            "</li>");
            }

            meta_msg.push("</ul>")
            $("#results").html(meta_msg.join(""));
            $.plot($("#placeholder"), plots,{legend: {"show": true}});
          });
        }

        $("#display-button").click(function(event){
          
          var ts_id = $("#ts-id").val();
          var metadata = [];
          var timeseries = [];
          
          clearResults();

          if(!ts_id){
            // Use uploaded ts data 
              $("#results").html("Fetching data...");
              var file = $("#ts-file")[0].files[0];
            
              var reader = new FileReader();
              reader.onload = function(e){
                var ts = JSON.parse(e.target.result);
                timeseries.push(ts);

                var ts = e.target.result;//JSON.parse(e.target.result);

                $.ajax({
                    url: '/simquery',
                    type: 'POST',
                    data: ts,
                    success: function(response){
                      plotSimilar(response, metadata, timeseries);
                    },
                    error: function(error){
                      console.log("Error POST timeseries!",error);
                    }
                  });
            };

            reader.readAsText(file);

          }else{
            // Get ts data from server
            $("#results").html("Fetching data...");

            // Get all metadata
            $.ajax({
              url: '/timeseries/'+ts_id,
              type: 'GET',
              success: function(response){
                metadata.push(response['metadata']);
                timeseries.push(response['timeseries']);

                $.ajax({
                  url: '/simquery',
                  type: 'GET',
                  data: {"id":ts_id},
                  success: function(response){
                    plotSimilar(response, metadata, timeseries);

                  },
                  error: function(error){
                    console.log("Error GET timeseries!",error);
                  }
                });
              },
              error: function(error){
                console.log("Error GET timeseries!",error);
              }
            });
          }
          
        });

        $("#save-ts").click(function(event){
          var file = $("#ts-file")[0];//.files[0];
          if(file.files['length'] == 0){
            sweetAlert("Error", "No file was uploaded", "error");
            return;
          }
          file = file.files[0];
          var reader = new FileReader();
          reader.onload = function(e){
            var ts = e.target.result;//JSON.parse(e.target.result);
            $.ajax({
              url: '/timeseries',
              type: 'POST',
              data: ts,
              success: function(response){
                console.log("Saved timeseries to database!",response);
                swal("Success", "Saved to database!", "success");
              },
              error: function(error){
                console.log("Error POST timeseries!",error);
                sweetAlert("Error", error['responseText'], "error");
              }
            });
          }

          reader.readAsText(file);
        });

        // $("#sim-ts").click(function(event){

        //   var ts_id = $("#ts-id").val();
          
        //   if(!ts_id){
        //     // No id was provided, make POST request
        //     var file = $("#ts-file")[0].files[0];
        //     var reader = new FileReader();
        //     reader.onload = function(e){
        //       var ts = e.target.result;//JSON.parse(e.target.result);
        //       $.ajax({
        //         url: '/simquery',
        //         type: 'POST',
        //         data: ts,
        //         success: function(response){
        //           console.log("Similar timeseries:",response);
        //           response = JSON.parse(response);
        //           var newHTML = ['<h3>Here are the similar timeseries</h3><br><ul>'];
        //           for (var i = 0; i < response.length; i++) {
        //               newHTML.push('<li>Length=' + response[i][0]+' id='+response[i][1] + '</li>');
        //           }
        //           newHTML.push('</ul>')
        //           $("#results").html(newHTML.join(""));
        //         },
        //         error: function(error){
        //           console.log("Error POST timeseries!",error);
        //         }
        //       });
        //     }

        //     reader.readAsText(file);
        //   }else{
        //     // ID was provided
        //     $.ajax({
        //       url: '/simquery',
        //       type: 'GET',
        //       data: {"id":ts_id},
        //       success: function(response){
        //         console.log("GET timeseries!",response);
        //         response = response['similar_points'];
                
        //         var newHTML = ['<h3>Here are the similar timeseries</h3><br><ul>'];
        //         for (var i = 0; i < response.length; i++) {
        //               newHTML.push('<li>Length=' + response[i][0]+' id='+response[i][1] + '</li>');
        //         }
        //         newHTML.push('</ul>');
        //         $("#results").html(newHTML.join(""));
        //       },
        //       error: function(error){
        //         console.log("Error GET timeseries!",error);
        //       }
        //     });
        //   }

          
        // });

      });
    </script>
  </body>
</html>