{% extends "base.html" %}
{% block content%}
  	<div class="container">
      <div class="row">
        <p>
        Welcome to our final project for CS207. On this page you will be able to add, query, and plot timeseries. Using the blue 'browse' button you can upload a timeseries JSON file of the format {"id":1, "time":{"0":1,...}, "value":{"0":1.2}, "n":5}. n is the number of similar timeseries points you want returned. After uploading the file, you can choose to display the timeseries, save it to the database server, or query the server for similar timeseries. 
        </p>
      </div>
  		<div class="row">
  			<div class="col-md-6">
  				Enter timeseries ID: <input type="text" id="ts-id" /></div>
  			<div class="col-md-2">
  				<p class="">OR</p>
  			</div>
  			<div class="col-md-4">
  				<label class="btn btn-primary btn-file">
		    	Browse <input type="file" id="ts-file" style="display: none;">
				</label>
  			</div>
  		</div>
  		<div class="row top5">
  			<div class="col-md-4">
	  			<p><button type="button" id="display-button" class="btn btn-success">Display TS</button></p>
	  		</div>
        <div class="col-md-4">
          <p><button type="button" id="save-ts" class="btn btn-success">Save to Database</button></p>
        </div>
        <div class="col-md-4">
          <p><button type="button" id="sim-ts" class="btn btn-success">Get similar TS</button></p>
        </div>
  		</div>
      <div class="row top7">
        <div class="col-md-10">
          <div>
            <p id="results">

            </p>
          </div>
        </div>
      </div>

  		<div class="row top7">
  			<div class="col-md-10">
  				<div id="placeholder" style="width:600px;height:300px"></div>
  			</div>
  		</div>
  	</div>
  	
{% endblock %}

